---
title: Profile
css:
  - profile.css
---
{{!< base}}

<main class="wrapper">
  <div class="profile">
    <section class="profile__displayInfo">
      <div class="profile__avatarContainer">
        <img src="../static/img/profileNoAvatar.svg" alt="" class="profile__avatar">
      </div>
      <h1 class="profile__displayName">
        {{user.displayName}}
      </h1>
    </section>

    <section class="profile__mainInfo">
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">Email</span>
        <span class="profile__rowValue">{{user.email}}</span>
      </div>
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">Login</span>
        <span class="profile__rowValue">{{user.login}}</span>
      </div>
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">First name</span>
        <span class="profile__rowValue">{{user.firstName}}</span>
      </div>
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">Second name</span>
        <span class="profile__rowValue">{{user.secondName}}</span>
      </div>
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">Display name</span>
        <span class="profile__rowValue">{{user.displayName}}</span>
      </div>
      <div class="profile__mainInfoRow">
        <span class="profile__rowName">Phone</span>
        <span class="profile__rowValue">{{user.phone}}</span>
      </div>
    </section>

    <section class="profile__buttons">
      <button class="profile__button">Change info</button>
      <button class="profile__button">Change password</button>
      <button class="profile__button profile__button_signOut">Sign out</button>
    </section>
  </div>
</main>
  <button onclick="history.back()" class="goBackButton" />